<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Show Journal Entry</title>
</head>
<body>
    <h1><%=journal.title%></h1>
    <img src="<%=journal.imageURL%>" alt="Display image of <%=journal.title%> " width="500" height="600">
    <br>
    <p id=#journalBody>Body:</p>
    <textarea id=#body readonly=true name="body" rows="40" cols="100" ><%=journal.body%></textarea>

    <p id=#lastUpdated>last updated: <%=journal.updatedAt%></p><br>
    
    <h3>Add <%=journal.name%> Journal to favorites?</h3>
    <form action="/journal/<%=journal.id%>/favorite" method="POST">
        <input type="submit" name="" value="Add to Favorites"/><br>
    </form>

</body>
</html>