<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Journal Entry</title>
</head>
<body>
    <h1><%=journal.title%></h1>
    <img src="<%=journal.imageURL%>" alt="Display image of <%=journal.title%> " width="500" height="600">
    <br>
    <p id=#journalBody>Body:<textarea id=#body readonly=true name="body" rows="100" cols="100" ><%=journal.body%></textarea></p>
    
    <p id=#lastUpdated>last updated: <%=journal.updatedAt%></p><br>

</body>
</html>