<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
  </head>

  <body>
    <h1>Welcome <%= user.username %></h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=user.password%>" /><br />
      <br />
      Email:
      <input type="text" name="email" value="<%=user.email%>" /><br />
      <br />
      Subscribe to email notifications:
      <input type="checkbox" name="subscribed" <%=user.subscribed%> />
      <br />
      <br />
      <input id=#edit type="submit" value="Edit Profile" />
      <p id=#lastUpdated>last updated: <%=user.updatedAt%></p> 
    </form>
    <br />

    <form action="/users/<%=user.id %>?_method=DELETE" method="POST">
      <input id=#delete type="submit" value="Delete Profile" onclick="return confirm('You will be removed from Journal Journey. Are you sure?');">
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
    <footer>
      <p>© 2021 Blue Baby Yoda Productions</p>
      <p>Love, Love</p>
    </footer>
  </body>
</html>
